.contenedor-principal {
  width: 100%;
  display: flex;
}
.superior {
  width: 100%;
  height: 100px;
  background-color: none;
  display: flex;
  margin: 0 auto;
  justify-content: right;
}
.logout {
  width: 160px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(132, 132, 132, 0.5);
  color: #fff;
  transform: translate(-40%, 50%);
  font-size: 18px;
}

.logout:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  background-color: #fafafad7;
  color: rgb(121, 0, 115);
  transition: all 50ms ease;
}

.contenedor-personajes {
  width: 100%;
  height: 2000px;
  display: flex;
  margin: 0 auto;
  justify-content: right;
}

.personajes {
  width: 100%;
  height: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: right;
  transform: translate(-10%, -10%);
}
.contenedor-botones {
  width: 100%;
  height: 140px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 40px 0px;
}

.botones-p {
  height: 50px;
  width: 120px;
  margin: 0 11px;
  font-size: 17px;
  border: 0 solid;
  border-radius: 6px;
  box-shadow: 0 0 3px rgba(200, 200, 200, 0.349);
  background: #370964d7;
  color: #ffffff;
  transform: translate(34%, -10%);
}

.botones-p:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  background-color: #fafafad7;
  color: rgb(121, 0, 115);
}

@media screen and (max-width: 768px) {
  .superior {
    grid-template-columns: 100%;
  }
  .contendor-personajes {
    grid-template-columns: 100%;
  }
}
