.logout{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: all 400ms ease;
    transform: translate(1000%, 100%);
    color: #fff;
}

.logout button:hover{
    box-shadow:5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-10%);
    background-color: #fafafad7;
    color: #fff;
}

.input [type="text"] {
    color: aqua;
}

.personajes{
    width: 100%;
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: right;
    transform: translate(-7%, -70%);
}  
.contenedor-botones {
    width: 100%;
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
   /* transform: translate(-10%, 4000%);*/
    position:relative
}

.botones-p{
    height: 50px;
    width: 120px; 
    margin: 0 20px;
    font-size: 16px;
    border: 0 solid;
    border-radius: 6px;
    background:  rgb(121, 0, 115);
    color: #ffffff;
}
